<p>
	У даному тесті вам необхідно висловити свої переконання відносно різних сфер життя, тест містить 10 питань відносно різних сфер політичного, економічного та суспільного життя. Вам потрібно буде вибрати єдине твердження з яким ви максимально погоджуєтесь. Після завершення ви зможете дізнатися результати тесту, проходити тест можна декілька разів.
</p>
<div class='center-block col-md-4' style="float: none; margin-top: 20px;">
	<button class='btn btn-lg btn-default' ng-click='start_test()'>Розпочати тест</button>
</div>