<div ng-if='!is_finished'>
	<h3>
		{{ questions[current_pos].description }} <span class="badge" style='vertical-align: middle;'>Питання {{ current_pos + 1 }} з {{ questions.length }}</span>
	</h3>
	<p ng-repeat='answer in questions[current_pos].answers' ng-animate="{enter: 'animate-enter'}">
		<label> <input type="radio" name="answer" ng-value='answer.id' ng-model='answers_id[current_pos]'> {{ answer.text }} </label>
	</p>
	<div class='center-block col-md-4' style="float: none;"> 
		<button ng-click='previous()' ng-disabled='current_pos == 0' class='btn btn-default'>
			Previous
		</button>
		<button ng-click='next()' ng-disabled='! answers_id[current_pos]' class='btn btn-default'>
			{{ toggle_text }}
		</button>
	</div>
</div>
<div ng-if='is_finished'>
	<h2>Ви {{ poll_result["result"] }}</h2>
	<p>{{ poll_result["description"] }}</p>
	<button class='btn btn-lg btn-default' ng-click='start_test()'>Пройти тест ще раз</button>
</div>